@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Seymour+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #a6b37d;
  color: #fefae0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.input {
  background-color: #fefae0;
  border: 2px solid #b99470;
  border-radius: 5px;
  width: 220px;
  height: 47px;
  font-size: x-large;
  color: #a6b37d;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
#button {
  background-color: #c0c78c;
  color: #fefae0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #b99470;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  height: 47px;
}

#button:hover {
  background-color: #b99470;
  transform: translateY(-2px);
}

#button:active {
  background-color: #c0c78c;
  color: #fefae0;
  transform: translateY(2px);
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  background-color: #fefae0;
  border: 2px solid #b99470;
  border-radius: 5px;
  padding: 10px;
  color: #a6b37d;
}

.actions button {
  background-color: #a6b37d;
  color: #fefae0;
  border: 2px solid #b99470;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Poppins;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.actions button:hover {
  background-color: #c0c78c;
  transform: translateY(-2px);
}

.actions button:active {
  background-color: #b99470;
  color: #fefae0;
  transform: translateY(2px);
}

.actions .delete {
  background-color: crimson;
  color: #fefae0;
}

.actions .delete:hover {
  background-color: darkred;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
